@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500&family=Poppins:wght@400;900&display=swap');


@font-face {
  font-family: "AkiraExpanded";
  src: local("AkiraExpanded"),
    url("./fonts/Akira/Akira-Expanded.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Ponnala";
  src: local("Ponnala"),
    url("./fonts/Ponnala/Ponnala.ttf") format("truetype");
}

.App {
  padding-bottom: 200px;
  /* overflow-x: hidden; */
}

div{
  /* border: 1px solid red; */
}
* {
  margin: 0;
  color: white;
}

body {
  /* height: 100vw; */
  overflow-x: hidden;
  width: 100vw;
  border: 1px solid #000;
  background: linear-gradient(180deg, #000718 0%, #091125 27.08%, #040912 61.98%, #060A20 78.13%, #000B1D 100%);
}


.midContent {
  width: 80vw;
  margin: auto;
}


/* NavBar */


.HamButton {
  display: none;
}

.HamButton img {
  width: 30px;
  position: relative;
  float: right;
  left: -20px;
  top: -5px;
}

.AcademyLogo {
  position: relative;
  top: 30px;
  left: calc(3vw + 10px);
  width: 125px;
  height: 27px;
}

.navHamMenu {
  display: none;
  /* border: 1px solid red; */
  color: white;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.095);
  position: relative;
  top: 4vh;
}

.navHamMenu .navBut {
  margin-left: 27px;
  padding: 7px 1px 7px 1px;
  /* display: list-item; */
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  text-decoration: none;
}

.navList {
  color: white;
  list-style: none;
  gap: 27px;
}

.rightNav {
  position: absolute;
  right: 40px;
}

.navList .navBut {
  margin-left: 27px;
  padding: 7px 1px 7px 1px;
  display: inline-block;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  text-decoration: none;
}

.navBut:hover {
  text-decoration: underline;
}

@media screen and (max-width: 550px) {
  .navList {
    display: none;
  }

  .HamButton {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  .HamButton img {
    right: 80px;
  }
}






/* Section1  */

.section1 {
  /* width:00px; */
  display: flex;
  justify-content: center;
  /* vertical-align: middle; */
  position: relative;
  top: calc(5.6vw + 40px);
}

.HeadTextDiv img {
  width: calc(50vw + 100px);
}

.HeadCircle {
  width: calc(25vw + 100px);
}

.navbar {
  font-family: 'DM Sans', sans-serif;
}

.HeadTextDiv {
  position: absolute;
  top: calc(3.5vw + 20px);
  padding-left: 2vw;
}










/* Section 2 */

.sec2 {
  padding-top: calc(20vw + 80px);
}

.txt1 {
  display: flex;
  width: 609px;
  height: 232px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;

}

.txt11 {
  color: #99B3FF;
  font-family: Poppins;
  font-size: calc(10px + 1.2vw);
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 217.857% */
  text-transform: uppercase;
}

.txt12 {
  color: #99B3FF;
  font-family: Poppins;
  font-size: calc(35px + 2vw);
  font-style: normal;
  font-weight: 900;
  line-height: calc(25px + 2vw);
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 20px;
}

.txt13 {
  width: calc(35vw + 100px);
  color: #FFF;
  font-family: 'DM Sans', sans-serif;
  font-size: calc(12px + 0.7vw);
  font-style: normal;
  font-weight: 400;
  line-height: calc(1vw + 15px);
  /* 140% */
}


.txt2 {
  padding-top: calc(15vw + 60px);
  padding-left: 40vw;
  /* float: right; */
  display: flex;
  /* width: 609px; */
  height: 232px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.txt21 {
  color: #99B3FF;
  font-family: Poppins;
  font-size: calc(18px + 2.2vw);
  font-style: normal;
  font-weight: 900;

  line-height: calc(25px + 2vw);
  text-transform: uppercase;
  padding-bottom: 20px;
}

.txt22 {

  /* width: calc(35vw + 50px); */
  color: #FFF;
  font-family: 'DM Sans', sans-serif;
  font-size: calc(12px + 0.7vw);
  font-style: normal;
  font-weight: 400;
  line-height: calc(1vw + 15px);
  /* 140% */
}

@media screen and (max-width: 400px) {
  .txt2 {
    padding-left: 18vw;
  }
  .txt1{
    width:60vw;
  }

}

.circle2 {
  float: right;
  z-index: -5;
  position: absolute;
  top: 65vw;
  right: 0;
}

.circle3 {
  z-index: -5;
  position: absolute;
  top: 75vw;
}

.circle4 {
  float: right;
  z-index: -5;
  position: absolute;
  top: 120vw;
  right: 0;
}

@media screen and (max-width: 400px) {
  .circle2 {
    top: 135vw;
  }

  .circle2 img {
    height: 200px;
  }

  .circle3 {
    top: 190vw;
  }

  .circle3 img {
    height: 350px;
  }

  .circle4 {
    top: 360vw;
  }

  .circle4 img {
    height: 500px;
  }
}









/* Section3 */

.sec3 {
  text-align: center;
  padding-top: calc(15vw + 40px);
}

.txt3 {
  color: #99B3FF;
  font-family: Poppins;
  font-size: calc(18px + 2.2vw);
  font-style: normal;
  font-weight: 900;
  line-height: calc(25px + 2vw);
  text-transform: uppercase;
  padding-bottom: 20px;
}

.grid-container {
  margin: auto;
  width: 50vw;
  display: grid;
  /* gap: 5vw; */
  grid-template-columns: repeat(3, minmax(50px, 1fr));
}

.grid-item {
  /* border: 1px solid red; */
  background-image: url('./comp/Sec3/ieeeLogo.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(10vw + 20px);
}

.txt32 {
  margin: auto;
  width: 60vw;
  margin-top: calc(3vw + 20px);
  /* border: 1px solid red; */
  text-align: center;
  color: #FFF;
  font-family: 'DM Sans', sans-serif;
  font-size: calc(10px + 0.7vw);
  font-style: normal;
  font-weight: 400;
  line-height: calc(1vw + 15px);
}








/* Section 4 */

.txt4 {
  padding-top: calc(15vw + 150px);
  /* padding-left: 40vw; */
  /* float: right; */
  display: flex;
  /* width: 80px; */
  /* width: 609px; */
  height: 232px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.txt41 {
  color: #99B3FF;
  font-family: Poppins;
  font-size: calc(18px + 2.2vw);
  font-style: normal;
  font-weight: 900;

  line-height: calc(25px + 2vw);
  text-transform: uppercase;
  padding-bottom: 20px;
}

.txt42 {

  width: calc(35vw + 100px);
  /* width: calc(35vw + 50px); */
  color: #FFF;
  font-family: "Ponnala", Poppins;
  font-size: calc(12px + 0.7vw);
  font-style: normal;
  font-weight: 400;
  line-height: calc(1vw + 15px);
  /* 140% */
}

.sec5 {

  margin: auto;
  text-align: center;
  padding-top: calc(15vw + 150px);
  height: 232px;
}

.sec5 img {
  padding-bottom: 30px;
}

.txt5 {
  /* padding-bottom: 500px; */
  margin: auto;
  text-align: center;
  width: calc(50vw + 100px);
  /* width: calc(35vw + 50px); */
  color: #FFF;
  font-family: "DM Sans";

  font-size: calc(8px + 0.8vw);
  font-style: italic;
  font-weight: 400;
  line-height: calc(1vw + 15px);
  /* 140% */
}






/* Social Logos */


.SocialLogo {
  position: absolute;
  top: 178vw;
  left: 3vw;
}

.SocialLogo ul {
  list-style: none;
}

.SocialLogo img {
  mix-blend-mode: screen;
}

@media screen and (max-width: 400px) {
  .SocialLogo li {
    display: inline;
  }

  body {
    padding-bottom: 100px;
  }

  .txt5 {
    padding-bottom: 350px;
  }

  .SocialLogo1 {
    top: 1950px;
    left: 18vw;
  }

  .SocialLogo2 {
    top: 2100px;
    left: 18vw;
  }
}